svg[jflap-board], svg[jflap-board] > * {
    cursor: default !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}