/** The Desktop CSS-specific code **/
body {
    border: 3px solid #333;
    border-top: none;
}

nav.top-bar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

nav.top-bar a {
    -webkit-app-region: no-drag;
}

.window-buttons {
    position: relative;
    margin-right: -3px;
}

.close-window {
    background-color: #C3272B !important;
}

.close-window:hover {
    background-color: #e02a2f !important;
}