<div style="padding: 10px; font-size: 16px;">
    <div class="row">
        <div class="small-6 columns">
            <h3>Keyboard Shortcuts</h3>
            <ul class="no-bullet">
                <li><kbd>SHIFT</kbd>: Turns off grid for freeform placement/movement</li>
                <li><kbd>SPACE</kbd>: Temporary MOVE mode (<i class="fa fa-arrows"></i>) while held</li>
                <li><kbd>F</kbd>: Toggles node under the mouse's final status</li>
                <li><kbd>I</kbd>: Toggles node under the mouse's initial status</li>
                <li><kbd>D</kbd>: Enter DRAW mode (<i class="fa fa-pencil"></i>)</li>
                <li><kbd>M</kbd>: Enter MOVE mode (<i class="fa fa-arrows"></i>)</li>
                <li><kbd>E</kbd>: Enter ERASE mode (<i class="fa fa-eraser"></i>)</li>
                <li><kbd>CTRL</kbd>: Temporarily freezes moved control points</li>
                <li><kbd>SHIFT</kbd> + <kbd>SPACE</kbd>: Insert blank character in test string</li>
            </ul>
        </div>
        <div class="small-6 columns"><h3>About</h3>
            Created by <a target="_blank" href="https://github.com/bgrawi">Ben Grawi</a> 2015. <br>
            LICENSE: To be determined. <br>
            <a target="_blank" href="https://github.com/bgrawi/jsflap/issues" title="Report a Bug">Report a Bug</a>

        </div>
    </div>
    <button class="button" ng-click="ok()">OK</button>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div>