<div style="padding: 10px; font-size: 16px;">
    <h3>Keyboard Shortcuts</h3>
    <ul class="no-bullet">
        <li><kbd>SHIFT</kbd>: Snaps edges to 45&deg; and nodes to a grid</li>
        <li><kbd>SPACE</kbd>: Temporary MOVE mode (<i class="fa fa-arrows"></i>) while held</li>
        <li><kbd>F</kbd>: Toggles node under the mouse's final status</li>
        <li><kbd>I</kbd>: Toggles node under the mouse's initial status</li>
        <li><kbd>D</kbd>: Enter DRAW mode (<i class="fa fa-pencil"></i>)</li>
        <li><kbd>M</kbd>: Enter MOVE mode (<i class="fa fa-arrows"></i>)</li>
        <li><kbd>E</kbd>: Enter ERASE mode (<i class="fa fa-eraser"></i>)</li>
        <li><kbd>CTRL</kbd>: Temporarily freezes moved control points</li>
    </ul>
    <button class="button" ng-click="ok()">OK</button>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div>