/** FOUNDATION OVERRIDES **/
.row.full { width: 100%; max-width: 100%; }
.row.full>.column:first-child,
.row.full>.columns:first-child { padding-left: 0; }
.row.full>.column:last-child,
.row.full>.columns:last-child { padding-right: 0; }

/** LAYOUT OVERRIDES **/
html, body {
    height: 100%;
}

.main-row, .main-row .columns {
    height: 100%;
    height: calc(100% - 3rem);
}

body.mode_1 svg[jsflap-board] circle.node,
body.mode_1 svg[jsflap-board] text.nodeLabel,
body.mode_1 svg[jsflap-board] circle.finalCircle,
body.mode_1 svg[jsflap-board] circle.control {
    cursor: move;
}

body.mode_2 svg[jsflap-board] > * {
    cursor: crosshair;
}

section.board-container {
    position: absolute;
    top: 0px;
    bottom:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 80%;
}

section.board-sidebar {
    width: 20%;
    position: absolute;
    left: 80%;
    top: 0;
    bottom: 0;
    background-color: #F5F5F5;
}

@media (max-width: 1366px) {
    section.board-container {
        width: 70%;
    }

    section.board-sidebar {
        left: 70%;
        width: 30%;
    }
}

@media (max-width: 956px) {
    section.board-container {
        width: 60%;
    }

    section.board-sidebar {
        left: 60%;
        width: 40%;
    }
}

div.main-row {
    position: relative;
}

.text-heading {
    padding: 20px 5px;
    background-color: #777;
    color: #fff;
    text-align: center;
    font-variant: small-caps;
}

.text-subheading {
    border-top: 1px solid rgba(255, 255, 255, .5);
    margin-top: -1px;
    text-align: center;
}

.text-footer {
    padding: 5px;
    text-align: center;
}

section.board-sidebar input {
    margin: 0;
    border: none;
    box-shadow: none;
    border-top: 1px solid rgba(255, 255, 255, .5);
    background-color: #f9f9f9;
    transition: background-color .25s;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.board-sidebar input:focus {
    box-shadow: none;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, .5);
    background-color: #F3F3F3;
}

section.board-sidebar input.accepted {
    background-color: #26A65B;
    color: #fff;
}

section.board-sidebar input.rejected {
    background-color: #C3272B;
    color: #fff;
}

section.board-sidebar .newTestInput {
    padding: 8px 8px;
    color: #AAA;
    font-size: 14px;
    display: block;
    background-color: #f9f9f9;
    cursor: default;
}

/** SVG STYLES **/
svg[jsflap-board], svg[jsflap-board] > * {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
}

svg[jsflap-board] text.transition {
    stroke: #FFF;
    stroke-width: 5px;
    paint-order: stroke;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    dominant-baseline: middle;
}

svg[jsflap-board] input.editTransition {
    font-size: 12px;
    border: 0 solid #333;
    text-align: center;
    box-shadow: none;
    border-radius: 100%;
}

svg[jsflap-board] path.edge {
    fill: transparent;
    shape-rendering: optimizeSpeed;
}

svg[jsflap-board] path.edge.rightAngle {
    shape-rendering: crispEdges;
}


svg[jsflap-board] input:focus {
    box-shadow: none;
}

svg[jsflap-board] circle.control {
    z-index: 9999;
}

/** SVG THEMES **/
/** SVG THEMES: Default **/
svg[jsflap-board] circle.node {
    fill: #008cba;
    stroke: none;
}

svg[jsflap-board] text.nodeLabel {
    font-family: sans-serif;
    font-size: 18px;
    fill: #FFF;
}

svg[jsflap-board] text.transition {
    font-family: sans-serif;
    font-size: 16px;
    fill: #333;
    text-anchor: middle;
}

svg[jsflap-board] path.initialPath {
    fill: #333;
}

svg[jsflap-board] circle.finalCircle {
    stroke: #FFF;
    stroke-width: 2;
    fill: none;
}
svg[jsflap-board] path.edge {
    stroke: #333;
    stroke-width: 1;
}

svg[jsflap-board] circle.control {
    fill: #AAA;
}

/** SVG THEMES: Classic **/
svg[jsflap-board].theme-classic circle.node {
    fill: rgb(255, 255, 150);
    stroke: #000;
    stroke-width: 1;
}

svg[jsflap-board].theme-classic text.nodeLabel {
    font-family: sans-serif;
    font-size: 18px;
    fill: #000;
}

svg[jsflap-board] text.transition {
    font-family: sans-serif;
    font-size: 16px;
    fill: #000;
    text-anchor: middle;
}

svg[jsflap-board].theme-classic path.initialPath {
    fill: #FFF;
    stroke: #000;
    stroke-width: 1;
}

svg[jsflap-board].theme-classic circle.finalCircle {
    stroke: #000;
    stroke-width: 1;
    fill: none;
}

svg[jsflap-board] path.edge {
    stroke: #000;
    stroke-width: 1;
}

svg[jsflap-board].theme-classic circle.control {
    fill: #FFF;
    stroke: #000;
    stroke-width: 1;
}
/** CONTEXT MENU STYLES **/

#contextMenu {
    width: 120px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #eee;
    border: 1px solid #ddd;
}