html, body {
    height: 100%;
}
section.board-container {
    position: absolute;
    top: 50px;
    bottom:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
svg[jsflap-board], svg[jsflap-board] > * {
    cursor: default !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
}

#contextMenu {
    width: 120px;
    height: 100px;
    position: absolute;
    top: 10;
    left: 20;
    background-color: #eee;
    border: 1px solid #ddd;
}

section.board-container path.edge {
    fill: transparent;
}

section.board-container input.transition {
    position: absolute;
    font-size: 12px;
    height: 30px;
    width: 30px;
    border: 0 solid #333;
    text-align: center;
    box-shadow: none;
    border-radius: 100%;
}

section.board-container input.transition:focus {
    box-shadow: none;
}