html, body {
    height: 100%;
}
section.board-container {
    position: absolute;
    top: 40px;
    bottom:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
svg[jsflap-board], svg[jsflap-board] > * {
    cursor: default !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
}

#contextMenu {
    width: 120px;
    height: 100px;
    position: absolute;
    top: 10;
    left: 20;
    background-color: #eee;
    border: 1px solid #ddd;
}